.first-page
{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    height: 630px;
    /* background-color: black; */
}
.left-side-of-first-page-main
{
    margin-top: 50px;
    margin-left: 35px;
}
.left-side-of-first-page img
{
    height: 30px;
}
.left-side-of-first-page 
{
    color: rgb(3, 3, 95);
    font-weight: 900;
}
.title 
{
    font-size: 50px;
    font-weight: 900;
}
.embark
{
    font-size: 17px;
    color: rgb(154, 155, 155);
}
.middle-first-page
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}
.middle-first-page img
{
    border-radius: 20px;
}
.photo-1
{
    margin-top: 50px;
    margin-left: 130px;
    height: 200px;
}
.photo-2
{
    margin-top: 10px;
    height: 150px;
    /* width: 200x; */
}
.photo-3
{
    margin-top: 130px;
    margin-left: 10px;
    margin-right: 300px;
    height: 150px;
}
.photo-4
{
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
}
.common1
{
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    background-color: rgb(255, 253, 253,0.7);
    /* background-o */
    padding: 10px ;
    border: 1px solid rgb(250, 241, 241);
    border-radius: 20px;
}
.common1 .s1
{
    font-weight:bolder;
}
.common1 .s2
{
    font-weight: lighter;
    color: rgb(155, 154, 154);
    display: flex;
    align-items: center;
    justify-content: center;
}
.common2
{
    padding: 11px;
    border-radius: 20px;
    border: 1px solid rgb(250, 241, 241);
    background-color: rgb(255, 253, 253,0.7);
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    height: 35px;
    width: 500px;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    z-index: 1;
}
.common2 .s1{
    font-weight: bold;
}
.common2 .s2{
    font-weight: lighter;
    color: rgb(155, 154, 154);
}
.button1
{
    padding: 1px 16px;
    /* padding-top: 5px; */
    border: none;
    border-radius: 35px;
    background-color: rgb(2, 2, 73);
    color: white;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: opacity 0.3s ,box-shadow 0.3s;
}
.button1:hover
{
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}