.footer
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    max-width: 100%;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    height: 310px;
    border-radius: 20px;
}
.adress-footer
{
    color: rgb(212, 212, 212);
    font-weight: 700;
    font-size: 30px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.title-footer
{
    color: rgb(121, 117, 117);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    width: 350px;
    cursor: pointer;
}
.lst-footer
{
    color: rgb(182, 181, 181);
    font-size: 20px;
    margin-left: 20px;
    margin-top: 130px;
    cursor: pointer;
}
.Search-bar
{
    background-color: rgb(26, 25, 25);
    margin-left: 20px;
    margin-right: 40px;
    flex: 1;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(43, 43, 43);
    border-radius: 10px;
    color: rgb(108, 109, 109);
}
.search-button
{
    height: 43px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(240,240,240);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(192,192,192);
    margin-left: -54px;
    /* margin-top: -2px; */
}
.Search-bar::placeholder
{
    font-size: 16px;
    color: rgb(108, 109, 109);
}
.logo
{
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.lstest
{
    display: flex;
    margin-top: 85px;
    margin-left: 135px;
}
.lstest p
{
    color: rgb(182, 181, 181);
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}