.forth-page
{
    height: 630px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.photo-14
{
    height: 400px;
    width: 600px;
    border-radius: 20px;
    margin-left: 20px;
}
.right-side-of-forth-page
{
    margin-left: 50px;
    width: 530px;
}
.adress
{
    font-size: 20px;
    color: rgb(3, 3, 95);
    font-weight: 900;
}
.title4
{
    margin-top: 10px;
    font-size: 50px;
    font-weight: 900;
}
.Expline2
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(154, 155, 155);
}