.head
{
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    align-items: center;
    background-color: white;
    height: 35px;
    justify-content: space-between;
    font-family: arial;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.left
{
    margin-left: 40px;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: opacity 0.3s;
}
.left:hover ,.midlle div:hover
{
    opacity: 0.7;
}
.left:active ,.midlle div:active
{
    opacity: 0.4;
}
.midlle
{
    display: flex;
    gap: 30px;
}
.midlle div
{
     /* background-color: white; */
     display: flex;
     /* background-color:aliceblue;  */
     cursor: pointer;
     transition: opacity 0.3s;
}
.right img{
    height: 20px;
    margin-right: 3px;
    margin-top: 4px;
}
.right{
    display: flex;
}
.right div{
    margin-top: 6px;
}
.button-sign-up
{
    margin-right: 80px;
    margin-left: 15px;
    padding: 8px 8px;
    border: none;
    border-radius: 35px;
    background-color: rgb(2, 2, 73);
    color: white;
    font-size: 10px;
    cursor: pointer;
    font-weight: 700;
    transition: opacity 0.3s ,box-shadow 0.3s;
}
.button-sign-up:hover
{
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.button-log-in
{
    margin-left: 20px;
    padding: 5px 5px;
    border: 1px solid rgb(5, 51, 150);
    border-radius: 35px;
    cursor: pointer;
    padding: 8px 8px;
    font-size: 10px;
    color: rgb(5, 51, 150);
    font-weight: 700;
    background-color: white;
    transition: background-color 0.3s ,color 0.3s;
}
.button-log-in:hover{
    background-color: rgb(5, 51, 150);
    color: white;
}
