.nineth-page
{
     margin-top: 80px;
    height: 740px;
    /* width: 100px; */
}
.top-side-of-nineth-page
{
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.signal-nineth-page
{
    position: absolute;
    height: 40px;
    top: 20px;
    left: 10px;
}
.adress-photo-23
{
    position: absolute;
    font-size: 22px;
    color: white;
    margin: 0px;
    top:70px;
    left: 10px;
    width: 240px;
    font-weight: 700;
}
.title-photo-23
{
    position: absolute;
    font-size: 18px;
    color: rgb(54, 54, 54);
    margin: 0px;
    top:140px;
    left: 10px;
}
.button-Booking
{
    position: absolute;
    margin-left: 10px;
    left: 0px;
    bottom: 40px;
    border: 1px solid rgb(1, 5, 12);
    border-radius: 35px;
    cursor: pointer;
    padding: 8px 8px;
    font-size: 10px;
    color: rgb(2, 6, 15);
    font-weight: 700;
    background-color: white;
    transition: background-color 0.3s ,color 0.3s;
}
.button-Booking:hover{
    background-color: rgb(2, 6, 15);
    color: white;
}
.photo-23
{
    border-radius: 20px;
    height: 250px;
    width: 500px;
    filter: blur(4px);
}
.name
{
    position: absolute;
    top: 90px;
    left: 10px;
    font-size: 20px;
    color: rgb(97, 96, 96);
}
.Subscriber
{
    color: white;
    position: absolute;
    top: 90px;
    left: 10px;
    font-weight: 900;
    font-size: 33px;
}
.photo-24
{
    border-radius: 20px;
    height: 170px;
    width: 500px;
}
.last-text
{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    flex-direction: column;
    width: 500px;
    transform: translate(-50%,-50%);
    color: rgb(88, 88, 88);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.photo-25
{
    border-radius: 20px;
    height: 420px;
    width: 830px;
}