.seventh-page
{
    margin-top: 80px;
   
    height: 630px;
    margin-left: 70px;
    width: 1200px;
}
.top-side-of-seventh-page 
{
    color: rgb(3, 3, 95);
    font-weight: 900;
    margin-bottom: 10px;
}
.title_seventh-page
{
    font-size: 50px;
    font-weight: 900;
    margin: 0px;
    margin-bottom: 15px;
}
.Expline-seventh-page
{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: rgb(154, 155, 155);
    margin: 0px;
    /* margin-bottom: 10px; */
}
.botton-more
{
    padding: 5px 5px;
    margin: 0px;
    border: 1px solid rgb(5, 51, 150);
    border-radius: 35px;
    cursor: pointer;
    padding: 8px 8px;
    font-size: 10px;
    color: rgb(5, 51, 150);
    font-weight: 700;
    background-color: white;
    transition: background-color 0.3s ,color 0.3s;
}
.botton-more:hover{
    background-color: rgb(5, 51, 150);
    color: white;
}
.under-seventh-page
{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.under-seventh-page p
{
    position: absolute;
    width: 400px;
    margin-top: 40px;
    font-size: 25px;
    color: rgb(61, 61, 61);
    margin-left: 10px;
}
.under-seventh-page img
{
    width: 590px;
    border-radius: 20px;
}
.part div
{
    width: 400px;
    position: absolute;
    font-size: 33px;
    font-weight: 900;
    color: rgb(4, 67, 243);
    margin-top: 10px;
    margin-left: 10px;
}