.sixth-page
{
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.under-sixth-page
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.photo-19
{
    height: 350px;
    width: 300px;
    border-radius: 20px;
}
.adress-sixth-page
{
    margin: 0px;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 900;
}
.title-sixth-page
{
    margin: 0px;
    margin-top: 5px;
    color: rgb(121, 122, 122);
}
.star
{
    margin: 0px;
    width: 10px;
}
.cost
{
    margin: 0px;
    margin-top: 5px;
    font-weight: 900;
    font-size: 20px;
}
.cost span{
    text-decoration: line-through;
    color: red;
}
.photo-20
{
    height: 350px;
    width: 600px;
    border-radius: 20px;
}