.third-page
{
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Third-page-firstly
{
    display: flex;
    flex-direction: column; 
    height: 330px;
    width: 600px;
    text-align: center;
    /* background-color: red; */
    align-items: center;
    /* justify-content: center; */
}
.top-side-of-third-page
{
    color: rgb(3, 3, 95);
    font-weight: 900;
}
.title3
{
    font-display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
}
.Expline1
{
    font-size: 17px;
    color: rgb(154, 155, 155);
}
.photo-8
{
    height: 300px;
}
.photo-9
{
    height: 270px;
    margin-top: 30px;
    margin-left: 10px;
}
.photo-10
{
    height: 300px;
}
.under
{
    display: flex;
    flex-direction: row;
    height: 500px;

}
.under img
{
    border-radius: 20px;
}
.photo-11 , .photo-12
{
    position: absolute;
    height: 25px;
    margin-top: 10px;
    margin-left: -30px;
    cursor: pointer;
}
.common6
{
    width: 60px;
    margin-top: -50px;
    margin-left: 10px;
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.common7
{
    margin-top: -50px;
    font-size: 30px;
    color: rgb(255, 254, 254);
    /* cursor: pointer; */
    margin-left: 20px;
}
.common7 span
{
    font-size: 18px;
    font-weight: 100;
    opacity: 0.6;
}
.photo-12
{
    margin-top: 40px;
}
.common8
{
    position: relative;
    width: 180px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    height: 270px;
    border-radius: 20px;
    background-color: rgb(167, 167, 167,0.3);
}
.common9 img
{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: -10px;
}
.common9
{
    margin-top: 10px;
    margin-left: 30px;
}
.photo-13
{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.rating
{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 100px;
    margin-bottom: 15px;
}
.rating-text
{
    margin-left: 30px;
}
.third-page-text
{
    width: 200px;
    color: white;
    opacity: 0.9;
    margin-right:160px;
}
.button-right
{
    margin-top: 5px;
    height: 30px;
    margin-left: 15px;
    align-self: center;
    padding: 7px 10px;
    border: none;
    border-radius: 50px;
    background-color: rgb(195, 195, 204,);
    color: rgb(1, 9, 126);
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    transition: opacity 0.3s ,box-shadow 0.3s;
}
.button-right:hover
{
    opacity: 0.7;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.button-left
{
    margin: 0px;
    margin-top: 5px;
    align-self: center;
    padding: 7px 10px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
    color: rgb(232, 233, 235);
    font-weight: 700;
    background-color: rgb(256, 256, 256,0.2);
    transition: background-color 0.3s ,color 0.3s;
}
.button-left:hover{
    background-color: rgb(5, 51, 150);
    color: white;
}
